#!/bin/sh

# Set the workspace home directory
export WORKSPACE=$HOME/workspace

# Set the default editor to vim 
export VISUAL=vim 
export EDITOR="$VISUAL" 

# Set defaults for aws specific functions
export S3_WS_BUCKET="workspace default bucket name"
export AWS_MFA_SERIAL_NUMBER="arn:aws:iam::123456789012:mfa/<user-name>"

# Enable docker BuildKit 
export DOCKER_BUILDKIT=1
